@import '../../../shared/styles/ConfirmButton.scss';

.routes-management {
  padding: 40px;

  .container {
    display: grid;
    place-items: center;
  }

  h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #1a2a44;
  }

  &__actions {
    margin-bottom: 20px;
  }

  &__button__confirm {
    width: 1150px;
    margin: 15px 0px;
    @include button-confirm;
    
  }

  &__table {
    width: 70%;
    height: 700px;
    border-collapse: collapse;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow-x: auto;
    display: block;

    // Устанавливаем минимальную ширину, чтобы таблица не сжималась слишком сильно
    table {
      width: 70%;
      overflow-y: hidden;
      table-layout: auto;
    }

    th,
    td {
      padding: 15px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    th {
      width: 100%;
      background: #f5f7fa;
      font-weight: 600;
      position: sticky;
      top: 0;
    }

    td {
      color: #333;
    }
  }

  &__action {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 5px;

    &:first-child {
      background: #007bff;
      color: #fff;
    }

    &--delete {
      background: #f03023;
      color: #fff;
    }

    &:hover {
      opacity: 0.9;
    }
  }
}